repos:
-   repo: https://github.com/pycqa/flake8
    rev: '7.3.0'  # pick a git hash / tag to point to
    hooks:
    -   id: flake8
        # Only run on files specified in .flake8
        pass_filenames: false

-   repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
    -   id: clang-format
        files: "^src/"
        types: ["file", "c"]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-toml
    -   id: debug-statements
        # Only run on files specified in .flake8
        pass_filenames: false
        files: "^(aerospike_helpers|test)/"
        types: ["file", "python"]
    -   id: end-of-file-fixer

-   repo: https://github.com/PyCQA/doc8
    rev: v2.0.0
    hooks:
    -   id: doc8
        args: ["doc/", "--extension", ".rst"]
        pass_filenames: false
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    -   id: shellcheck
        # Running on all files causes this issue:
        # scripts/manylinux2014build.sh: scripts/manylinux2014build.sh: openBinaryFile: does not exist (No such file or directory)
        files: ".github/workflows/docker-setup/"
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.3
    hooks:
    -   id: gitleaks
