include LICENSE
include VERSION
recursive-include aerospike-client-c *
recursive-include scripts *
recursive-include src *
global-include *.pyi
global-include *.typed
include custom-versionit-format.py
