[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "aerospike"
description = "Aerospike Client Library for Python"
authors = [
    {name = "Aerospike, Inc.", email = "info@aerospike.com"}
]
readme = "README.rst"
license = {text = "Apache Software License"}
keywords = ["aerospike", "nosql", "database"]
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: POSIX :: Linux",
    "Operating System :: MacOS :: MacOS X",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Database"
]
dynamic = ["version"]

[project.urls]
"Homepage" = "https://aerospike.com"

[tool.setuptools]
zip-safe = false
include-package-data = true
