[cluster]
# If security is enabled:
# - We need special permissions to run security tests, so we can't use the default admin user.
# - And if SC is also enabled, we need the superuser to finish configuring SC in our entrypoint script
{% for key in ["user", "password"] %}
{{ key }} = "{% if security is true %}superuser{% endif %}"
{% endfor %}
