services:
  toggle-server-features:
    # mikefarah/yq image doesn't include a shell
    # As of this writing, no popular Docker image for jinja exists
    image: "linuxserver/yq"
    command: |
      CONFIG_YAML_PATH=/workdir/aerospike-dev.yaml &&
      if [[ $STRONG_CONSISTENCY -eq 1 ]]; then
        yq eval 'namespaces[0].strong-consistency = "true"' -i $CONFIG_YAML_PATH &&
        yq eval 'namespaces[0].strong-consistency-allow-expunge = "true"' -i $CONFIG_YAML_PATH
      fi

      if [[ $SECURITY -eq 1 ]]; then
        yq eval 'security.enable-quotas = "true"' -i $CONFIG_YAML_PATH
        yq eval 'security.log.report-violation = "true"' -i $CONFIG_YAML_PATH
      fi

      if [[ $MUTUAL_TLS -eq 1 ]]; then
        yq eval 'network.tls[0].name = "docker"' -i $CONFIG_YAML_PATH
        # TODO
        yq eval 'network.tls[0].ca-file = ""' -i $CONFIG_YAML_PATH
        yq eval 'network.tls[0].cert-file = ""' -i $CONFIG_YAML_PATH
        yq eval 'network.tls[0].key-file = ""' -i $CONFIG_YAML_PATH
      fi
    volumes:
    - ${PWD}:/workdir

  convert-yml-to-aerospike-conf:
    depends_on: ["toggle-server-features"]
    # TODO: needs to be compatible with above server image
    image: "aerospike/aerospike-tools"
    volumes:
    - ${PWD}:/workdir

  aerospike:
    depends_on: ["convert-yml-to-aerospike-conf"]
    ports:
      - "3000:3000"
    image: "aerospike/aerospike-server-enterprise"
    volumes:
    - /etc/aerospike

  setup-strong-consistency:
    # TODO: needs to be compatible with above server image
    image: "aerospike/aerospike-tools"
    depends_on: ["aerospike"]
    command: |
      echo hi
      asadm -h aerospike --enable --execute "manage revive ns test" &&
      asadm -h aerospike --enable --execute "manage recluster"
