services:
  toggle-server-features:
    # As of this writing, no popular Docker image for jinja exists
    # TODO: shouldn't be using a shell?
    image: "mikefarah/yq"
    entrypoint: ["sh", "-c", "/workdir/setup-aerospike-yml.sh"]
    env_file:
    - .env
    volumes:
    - ${PWD}:/workdir

  # TODO: does not wait for above service to finish...
  convert-yml-to-aerospike-conf:
    depends_on: ["toggle-server-features"]
    # TODO: needs to be compatible with above server image
    image: "aerospike/aerospike-tools"
    # TODO: maybe remove --force
    command: asconfig convert -a 8.1.0 /workdir/aerospike-dev.yaml -o /workdir/aerospike.conf
    volumes:
    - ${PWD}:/workdir

  aerospike:
    depends_on: ["convert-yml-to-aerospike-conf"]
    ports:
      - 3000:3000
    image: "aerospike/aerospike-server-enterprise"
    command: --config-file /workdir/aerospike.conf
    volumes:
    - ${PWD}:/workdir

  setup-strong-consistency:
    # TODO: shouldn't be using a shell?
    # TODO: needs to be compatible with above server image
    # TODO: reuse same tools container from above?
    image: "aerospike/aerospike-tools"
    depends_on: ["aerospike"]
    entrypoint: ["sh", "-c", "/workdir/setup-server.sh"]
    volumes:
    - ${PWD}:/workdir
