name: Build and upload wheels for QE
run-name: Build and upload wheels for QE (disable-optimizations=${{ github.event_name == 'workflow_dispatch' && inputs.disable-optimizations || false }})

on:
  workflow_dispatch:
    inputs:
      disable-optimizations:
        description: 'Build unoptimized wheels?'
        default: false
        type: boolean
        required: true

jobs:
  build-artifacts:
    uses: ./.github/workflows/build-wheels.yml
    with:
      # In a push event, any input values default to ''
      # https://github.com/orgs/community/discussions/29242#discussioncomment-5063461
      apply-no-optimizations: ${{ github.event_name == 'workflow_dispatch' && inputs.disable-optimizations || false }}

  upload-to-jfrog:
    needs: build-artifacts
    uses: ./.github/workflows/upload-to-jfrog.yml
    with:
      jfrog-repo-name: ${{ vars.JFROG_GENERIC_REPO_NAME }}
    secrets: inherit
