on:
  workflow_call:

jobs:
  # TODO: define a var for the same OS used in the other build job
  build-c-client:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        sparse-checkout: |
          aerospike-client-c

    - run: echo C_CLIENT_REVISION=$(git rev-parse HEAD) >> $GITHUB_ENV
      working-directory: aerospike-client-c

    - uses: actions/cache@v5
      id: download-c-client
      with:
        key: c-client-${{ env.C_CLIENT_REVISION }}
        path: ./aerospike-client-c/target/Linux-x86_64/lib/libaerospike.a

    - name: Install C client build dependencies
      if: ${{ steps.download-c-client.outputs.cache-hit != 'true' }}
      run: |
        sudo apt update &&
        sudo apt-get install -y libc6-dev libssl-dev autoconf automake libtool g++ zlib1g-dev ncurses-dev
      working-directory: aerospike-client-c

    - name: Send C client static library to job that builds Python client
      uses: actions/upload-artifact@v4
      with:
        name: c-client-${{ env.C_CLIENT_REVISION }}
        # TODO: not the precise folder
        path: ./aerospike-client-c/target/Linux-x86_64/lib/libaerospike.a
        if-no-files-found: error
