# Takes in how to bump version as input
# Commits changes to bump version and outputs the new version and commit hash as output

name: Bump version
on:
  workflow_dispatch:
    inputs:
      change:
        type: choice
        description: Python script name to update the version
        required: true
        options:
        - bump-dev-num
        - promote-dev-build-to-rc
        - promote-rc-build-to-release
      dry-run:
        required: false
        default: false
        type: boolean
        description: No tagging in repo
  workflow_call:
    inputs:
      dry-run:
        required: false
        default: false
        type: boolean
        description: Dry run
      change:
        # Since workflow_call doesn't support 'options' input type,
        # we take in a string instead that must be a valid Python script name (excluding the .py part)
        # Example: bump-dev-num for bump-dev-num.py
        type: string
        description: Python script name to change version
        required: true
      ref:
        required: false
        description: Commit to bump off of
        type: string
      # See workflow call hack in update-version.yml
      is_workflow_call:
        type: boolean
        default: true
        required: false
    secrets:
      CLIENT_BOT_PAT:
        required: true
    outputs:
      new_version:
        value: ${{ jobs.get-new-version.outputs.new_version }}

jobs:
  get-current-version:
    name: Get new version string
    runs-on: ubuntu-22.04
    outputs:
      current_version: ${{ steps.get-current-version.outputs.current_version }}
    steps:
    # Checkout the branch where we want to bump the new version
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        token: ${{ secrets.CLIENT_BOT_PAT }}
        ref: ${{ inputs.ref }}
        # Get all tags
        fetch-depth: 0

    - name: Get tag from previous commit
      id: get-current-version
      run: |
        prev_commit=$(git rev-parse HEAD~)
        echo current_version=$(git describe --tags --exact-match $prev_commit) >> $GITHUB_OUTPUT

  get-new-version:
    runs-on: ubuntu-22.04
    needs: get-current-version
    outputs:
      new_version: ${{ steps.get-new-version.outputs.new_version }}
    steps:
    # Checkout branch where workflow is being called from
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Install library that parses PEP 440 versions
      run: pip install parver -c requirements.txt
      working-directory: .github/workflows

    - name: Get new version
      id: get-new-version
      run: echo new_version=$(python3 .github/workflows/${CHANGE_VERSION_SCRIPT_NAME}.py "${CURRENT_VERSION}") >> $GITHUB_OUTPUT
      env:
        CURRENT_VERSION: ${{ needs.get-current-version.outputs.current_version }}
        CHANGE_VERSION_SCRIPT_NAME: ${{ inputs.change }}

  update-version-in-repo:
    needs: get-new-version
    uses: ./.github/workflows/update-version.yml
    with:
      new_version: ${{ needs.get-new-version.outputs.new_version }}
      ref: ${{ inputs.is_workflow_call && inputs.ref || github.ref }}
      dry-run: ${{ inputs.dry-run }}
    secrets: inherit
