on:
  workflow_call:
    inputs:
      passed-dev-tag:
        type: string
        description: Dev tag to fast forward the stage branch to
        required: true
    secrets:
      # Used to bump version in Github
      CLIENT_BOT_PAT:
        required: true
      # Used to upload to JFrog
      JFROG_PLATFORM_URL:
        required: true
      JFROG_ACCESS_TOKEN:
        required: true

jobs:
  ff-stage-to-dev-tag:
    name: Fast forward stage branch to the dev tag that passed stage testing
    uses: ./.github/workflows/fast-forward-merge.yml
    with:
      ref_to_merge: ${{ inputs.passed-dev-tag }}
      base_branch: ${{ vars.STAGE_BRANCH_NAME }}
    secrets: inherit

  promote-release-bundle-to-dev:
    needs: [
      ff-stage-to-dev-tag,
    ]
    uses: .github/workflows/promote-release-bundle.yml
    with:
      release-bundle-name: python-client-release
      release-bundle-version: ${{ inputs.passed-dev-tag }}
      new-environment: TEST
