name: Dev workflow (part 2)

on:
  # This will ignore bump commits because those commits have [skip ci]
  push:
    branches:
    - 'dev*'
  workflow_dispatch:
    inputs:
      dry-run:
        required: false
        default: false
        type: boolean
        description: Don't create tags and don't upload to JFrog

jobs:
  bump-dev-number:
    uses: ./.github/workflows/bump-version.yml
    with:
      change: 'bump-dev-num'
      dry-run: ${{ github.event_name == 'push' && endsWith(github.ref, '-test') || inputs.dry-run }}
    secrets: inherit

  rebuild-artifacts-with-new-dev-num:
    needs: bump-dev-number
    name: Rebuild artifacts with new dev number
    uses: ./.github/workflows/build-artifacts.yml
    with:
      # On pull_request_target, the bump version commit will be ignored
      # So we must pass it manually to the workflow
      sha-to-build-and-test: ${{ needs.bump-dev-number.outputs.bump_sha }}
    secrets: inherit

  upload-github-artifacts-to-jfrog:
    needs: [
      rebuild-artifacts-with-new-dev-num
    ]
    uses: aerospike/shared-workflows/.github/workflows/reusable_deploy-artifacts.yaml@489212b8911ea431131ed468599db705f0767274
    with:
      jf-project: ${{ vars.JFROG_PROJECT_FOR_CLIENT_TEAM }}
      jf-build-name: ${{ vars.JFROG_BUILD_NAME }}
      jf-build-id: ${{ github.run_number }}
      jf-metadata-build-id: ${{ github.run_number }}-metadata
      gh-workflows-ref: 489212b8911ea431131ed468599db705f0767274
      version: ${{ needs.bump-dev-number.outputs.new_version }}
      dry-run: ${{ github.event_name == 'push' && endsWith(github.ref, '-test') || inputs.dry-run }}

  create-jfrog-release-bundle:
    needs: [
      bump-dev-number,
      upload-github-artifacts-to-jfrog
    ]
    uses: aerospike/shared-workflows/.github/workflows/reusable_create-release-bundle.yaml@489212b8911ea431131ed468599db705f0767274
    with:
      jf-project: ${{ vars.JFROG_PROJECT_FOR_CLIENT_TEAM }}
      jf-build-names: ${{ vars.JFROG_BUILD_NAME }}
      jf-bundle-name: python-client-release
      version: ${{ needs.bump-dev-number.outputs.new_version }}
      gh-workflows-ref: 489212b8911ea431131ed468599db705f0767274
      dry-run: ${{ github.event_name == 'push' && endsWith(github.ref, '-test') || inputs.dry-run }}

  # We don't want the artifacts in JFrog to also exist in Github
  delete-artifacts:
    needs: upload-github-artifacts-to-jfrog
    uses: ./.github/workflows/delete-artifacts.yml
