name: Dev workflow (part 2)

on:
  # This will ignore bump commits because those commits have [skip ci]
  push:
    branches:
    - 'dev*'
  workflow_dispatch:

jobs:
  bump-dev-number:
    uses: ./.github/workflows/bump-version.yml
    with:
      change: 'bump-dev-num'
    secrets: inherit

  rebuild-artifacts-with-new-dev-num:
    needs: bump-dev-number
    name: Rebuild artifacts with new dev number
    uses: ./.github/workflows/build-artifacts.yml
    with:
      # On pull_request_target, the bump version commit will be ignored
      # So we must pass it manually to the workflow
      sha-to-build-and-test: ${{ needs.bump-dev-number.outputs.bump_sha }}
    secrets: inherit

  get-jfrog-project-to-store-artifacts:
    needs: rebuild-artifacts-with-new-dev-num
    name: Get Jfrog project to store artifacts
    runs-on: ubuntu-24.04
    outputs:
      jfrog-project: ${{ steps.get-env-vars.outputs.jfrog_project }}
      jfrog-build-name: ${{ steps.get-env-vars.outputs.jfrog_build_name }}

    steps:
    - name: Get outputs
      id: get-env-vars
      run: |
        echo jfrog_project=${{ env.JFROG_PYTHON_CLIENT_PROJECT }} >> $GITHUB_OUTPUT
        echo jfrog_build_name=${{ env.JFROG_BUILD_NAME }} >> $GITHUB_OUTPUT

  upload-github-artifacts-to-jfrog:
    needs: [
      bump-dev-number,
      get-jfrog-project-to-store-artifacts
    ]
    uses: aerospike/shared-workflows/.github/workflows/reusable_upload-artifacts.yaml@34ffd4613504a792f3cd5530c69fb9a3115ad9c1
    with:
      project: ${{ needs.get-jfrog-project-to-store-artifacts.outputs.jfrog-project }}
      build-name: ${{ needs.get-jfrog-project-to-store-artifacts.outputs.jfrog-build-name }}
      version: ${{ needs.bump-dev-number.outputs.new_version }}

  create-jfrog-release-bundle:
    needs: [
      bump-dev-number,
      get-jfrog-project-to-store-artifacts,
      upload-github-artifacts-to-jfrog
    ]
    uses: aerospike/shared-workflows/.github/workflows/reusable_create-release-bundle.yaml@34ffd4613504a792f3cd5530c69fb9a3115ad9c1
    with:
      project: ${{ needs.get-jfrog-project-to-store-artifacts.outputs.jfrog-project }}
      build-names: "${{ needs.get-jfrog-project-to-store-artifacts.outputs.jfrog-build-name }}:${{ needs.bump-dev-number.outputs.new_version }}"
      bundle-name: asdf
      version: ${{ needs.bump-dev-number.outputs.new_version }}

  # upload-to-jfrog:
  #   name: Upload artifacts to JFrog
  #   needs: [
  #     bump-dev-number,
  #     rebuild-artifacts-with-new-dev-num
  #   ]
  #   uses: ./.github/workflows/upload-to-jfrog.yml
  #   with:
  #     version: ${{ needs.bump-dev-number.outputs.new_version }}
  #   secrets: inherit

  # We don't want the artifacts in JFrog to also exist in Github
  # delete-artifacts:
  #   needs: upload-to-jfrog
  #   uses: ./.github/workflows/delete-artifacts.yml
