name: Dev workflow (part 2)

on:
  # This will ignore bump commits because those commits have [skip ci]
  push:
    branches:
    - 'dev*'
  workflow_dispatch:

jobs:
  bump-dev-number:
    uses: ./.github/workflows/bump-version.yml
    with:
      change: 'bump-dev-num'
    secrets: inherit

  rebuild-artifacts-with-new-dev-num:
    needs: bump-dev-number
    name: Rebuild artifacts with new dev number
    uses: ./.github/workflows/build-artifacts.yml
    with:
      # On pull_request_target, the bump version commit will be ignored
      # So we must pass it manually to the workflow
      sha-to-build-and-test: ${{ needs.bump-dev-number.outputs.bump_sha }}
    secrets: inherit

  get-jfrog-project-to-store-artifacts:
    needs: rebuild-artifacts-with-new-dev-num
    name: Get Jfrog project to store artifacts
    runs-on: ubuntu-24.04
    outputs:
      jfrog-project: ${{ steps.get-env-vars.outputs.jfrog_project }}
      jfrog-build-name: ${{ steps.get-env-vars.outputs.jfrog_build_name }}
    steps:
    - name: Get outputs
      id: get-env-vars
      run: |
        echo jfrog_project=${{ env.JFROG_PYTHON_CLIENT_PROJECT }} >> $GITHUB_OUTPUT
        echo jfrog_build_name=${{ env.JFROG_BUILD_NAME }} >> $GITHUB_OUTPUT
      env:
        JFROG_PYTHON_CLIENT_PROJECT: clients
        JFROG_BUILD_NAME: python-client

  upload-github-artifacts-to-jfrog:
    needs: [
      bump-dev-number,
      get-jfrog-project-to-store-artifacts
    ]
    uses: aerospike/shared-workflows/.github/workflows/reusable_deploy-artifacts.yaml@489212b8911ea431131ed468599db705f0767274
    with:
      jf-project: ${{ needs.get-jfrog-project-to-store-artifacts.outputs.jfrog-project }}
      jf-build-name: ${{ needs.get-jfrog-project-to-store-artifacts.outputs.jfrog-build-name }}
      jf-build-id: ${{ github.run_number }}
      jf-metadata-build-id: ${{ github.run_number }}-metadata
      gh-workflows-ref: 489212b8911ea431131ed468599db705f0767274
      version: ${{ needs.bump-dev-number.outputs.new_version }}

  create-jfrog-release-bundle:
    needs: [
      bump-dev-number,
      get-jfrog-project-to-store-artifacts,
      upload-github-artifacts-to-jfrog
    ]
    uses: aerospike/shared-workflows/.github/workflows/reusable_create-release-bundle.yaml@489212b8911ea431131ed468599db705f0767274
    with:
      jf-project: ${{ needs.get-jfrog-project-to-store-artifacts.outputs.jfrog-project }}
      jf-build-names: "${{ needs.get-jfrog-project-to-store-artifacts.outputs.jfrog-build-name }}"
      jf-bundle-name: python-client-release
      version: ${{ needs.bump-dev-number.outputs.new_version }}
      gh-workflows-ref: 489212b8911ea431131ed468599db705f0767274

  # We don't want the artifacts in JFrog to also exist in Github
  delete-artifacts:
    needs: upload-github-artifacts-to-jfrog
    uses: ./.github/workflows/delete-artifacts.yml
