on:
  workflow_call:
    inputs:
      release-bundle-name:
        type: string
        required: true
      release-bundle-version:
        type: string
        required: true
      new-environment:
        type: string
        required: true
      jfrog-project:
        type: string
        required: true
      jfrog-repo-name:
        type: string
        required: true

jobs:
  promote-release-bundle-to-dev:
    runs-on: ubuntu-24.04
    steps:
    - name: Setup JFrog CLI
      uses: jfrog/setup-jfrog-cli@5b06f730cc5a6f55d78b30753f8583454b08c0aa # v4.8.1
      env:
        JF_URL: https://artifact.aerospike.io
        JF_PROJECT: ${{ inputs.jfrog-project }}
      with:
        oidc-provider-name: ${{ vars.OIDC_PROVIDER_NAME }}
        oidc-audience: ${{ vars.OIDC_AUDIENCE }}

    - run: jf rbp --signing-key=aerospike --include-repos ${{ inputs.jfrog-repo-name }} ${{ inputs.release-bundle-name }} ${{ inputs.release-bundle-version }} ${{ inputs.new-environment }}
