name: Stage to master
on:
  workflow_dispatch:

jobs:
  ff-master-to-stage:
    uses: ./.github/workflows/fast-forward-merge.yml
    with:
      ref_to_merge: origin/${{ vars.STAGE_BRANCH_NAME }}
      base_branch: ${{ vars.MASTER_BRANCH_NAME }}
    secrets: inherit

  promote-rc-build-to-release:
    needs: ff-master-to-stage
    uses: ./.github/workflows/bump-version.yml
    with:
      change: promote-rc-build-to-release
      ref: ${{ vars.MASTER_BRANCH_NAME }}
    secrets: inherit

  build-artifacts:
    needs: promote-rc-build-to-release
    uses: ./.github/workflows/build-artifacts.yml
    with:
      sha-to-build-and-test: ${{ needs.promote-rc-build-to-release.outputs.bump_sha }}
    secrets: inherit

  upload-to-jfrog:
    name: Upload artifacts to JFrog
    needs: [
      build-artifacts,
      promote-rc-build-to-release
    ]
    uses: ./.github/workflows/upload-to-jfrog.yml
    with:
      version: ${{ needs.promote-rc-build-to-release.outputs.new_version }}
    secrets: inherit

  publish-to-pypi:
    runs-on: ubuntu-22.04
    needs: build-artifacts
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: Download and store all artifacts to single folder
      uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
      with:
        path: artifacts
        merge-multiple: true

    # TODO: fix
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1
      with:
        packages-dir: artifacts/
        password: ${{ secrets.PYPI_API_TOKEN }}

  # See reason for deleting artifacts in dev-workflow-p2.yml
  delete-artifacts:
    needs: [
      upload-to-jfrog,
      publish-to-pypi
    ]
    uses: ./.github/workflows/delete-artifacts.yml

  fast-forward-stage-to-master:
    needs: build-artifacts
    uses: ./.github/workflows/fast-forward-merge.yml
    with:
      ref_to_merge: origin/${{ vars.MASTER_BRANCH_NAME }}
      base_branch: ${{ vars.STAGE_BRANCH_NAME }}
    secrets: inherit

  fast-forward-dev-to-master:
    needs: build-artifacts
    uses: ./.github/workflows/fast-forward-merge.yml
    with:
      ref_to_merge: origin/${{ vars.MASTER_BRANCH_NAME }}
      base_branch: ${{ vars.DEV_BRANCH_NAME }}
    secrets: inherit
