name: (UNUSED) Test cibuildwheel artifacts against server RC
run-name: Test cibuildwheel artifacts against server RC

on:
  workflow_call:
    secrets:
      DOCKER_HUB_BOT_USERNAME:
        required: true
      DOCKER_HUB_BOT_PW:
        required: true
      MAC_M1_SELF_HOSTED_RUNNER_PW:
        required: true

jobs:
  manylinux:
    strategy:
      fail-fast: false
      matrix:
        # Python versions to build wheels on
        python: [
          ["3.10", "cp310"],
          ["3.11", "cp311"],
          ["3.12", "cp312"]
        ]
        platform: [
          ["x86_64", "ubuntu-22.04"],
          ["aarch64", "aerospike_arm_runners_2"]
        ]
    runs-on: ${{ matrix.platform[1] }}
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - run: docker run -d --name manylinux quay.io/pypa/manylinux2014_${{ matrix.platform[0] }} tail -f /dev/null

    - uses: ./.github/actions/run-ee-server
      with:
        use-server-rc: true
        server-tag: latest
        docker-hub-username: ${{ secrets.DOCKER_HUB_BOT_USERNAME }}
        docker-hub-password: ${{ secrets.DOCKER_HUB_BOT_PW }}
        where-is-client-connecting-from: 'docker-container'

    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: ${{ matrix.python[1] }}-manylinux_${{ matrix.platform[0] }}.build
        path: ./

    - name: Copy repo and wheel into manylinux container
      run: docker cp ../aerospike-client-python manylinux:/

    - name: Install wheel
      run: docker exec --workdir /aerospike-client-python manylinux python${{ matrix.python[0] }} -m pip install *.whl

    - name: Install test prerequisites
      run: docker exec --workdir /aerospike-client-python/test manylinux python${{ matrix.python[0] }} -m pip install -r requirements.txt

    - name: Run tests
      id: test
      run: docker exec --workdir /aerospike-client-python/test manylinux python${{ matrix.python[0] }} -m pytest new_tests/

  macOS-x86:
    # Skip macOS x86 testing since it's unstable
    if: ${{ false }}
    strategy:
      fail-fast: false
      matrix:
        python: [
          ["3.10", "cp310"],
          ["3.11", "cp311"],
          ["3.12", "cp312"]
        ]
    runs-on: macos-12-large
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - uses: ./.github/actions/setup-docker-on-macos

    - uses: ./.github/actions/run-ee-server
      with:
        use-server-rc: true
        server-tag: latest
        docker-hub-username: ${{ secrets.DOCKER_HUB_BOT_USERNAME }}
        docker-hub-password: ${{ secrets.DOCKER_HUB_BOT_PW }}

    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: ${{ matrix.python[1] }}-macosx_x86_64.build
        path: ./

    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python[0] }}

    - run: python${{ matrix.python[0] }} -m pip install *.whl

    - run: python${{ matrix.python[0] }} -m pip install -r requirements.txt
      working-directory: test

    - run: python${{ matrix.python[0] }} -m pytest new_tests/
      id: test
      working-directory: test

  macOS-m1:
    # TODO: this shares a lot of steps as in the build wheels workflow
    runs-on: [
      self-hosted,
      macOS,
      ARM64
    ]
    strategy:
      matrix:
        python-version: [
          ["3.10", "cp310"],
          ["3.11", "cp311"],
          ["3.12", "cp312"]
        ]
      fail-fast: false
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: ${{ matrix.python-version[1] }}-macosx_arm64.build
        path: ./

    # Update dependencies if needed
    - name: Add brew to path
      run: echo PATH=$PATH:/opt/homebrew/bin/ >> $GITHUB_ENV

    - name: Install or upgrade Python
      run: brew install python@${{ matrix.python-version[0] }}

    # Self-hosted runner only
    # Need to be able to save Docker Hub credentials to keychain
    - run: security unlock-keychain -p ${{ secrets.MAC_M1_SELF_HOSTED_RUNNER_PW }}

    - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKER_HUB_BOT_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_BOT_PW }}

    - name: Run server RC
      run: docker run -d -p 3000:3000 --name aerospike -e DEFAULT_TTL=2592000 ${{ vars.SERVER_RC_REPO_LINK }}

    - name: Create config.conf
      run: cp config.conf.template config.conf
      working-directory: test

    - name: Install wheel
      run: python${{ matrix.python-version[0] }} -m pip install --force-reinstall --break-system-packages *.whl

    - run: python${{ matrix.python-version[0] }} -m pip install --force-reinstall --break-system-packages -r requirements.txt
      working-directory: test

    - uses: ./.github/actions/wait-for-ce-server-to-start
      with:
        container-name: aerospike

    - run: python${{ matrix.python-version[0] }} -m pytest new_tests/
      id: test
      working-directory: test

    - name: Stop server
      if: ${{ always() }}
      run: |
        docker container stop aerospike
        docker container prune -f
