# Takes in a new version as input
# Changes the version in the whole repo and outputs the commit hash as output

name: Update version in repo
on:
  workflow_dispatch:
    inputs:
      new_version:
        type: string
        description: Version string to set in the repo
        required: true
      dry-run:
        required: false
        default: false
        type: boolean
        description: No tagging in repo
  workflow_call:
    inputs:
      new_version:
        type: string
        description: Version string to set in the repo
        required: true
      ref:
        type: string
        description: commit/branch to change version
        required: false
      dry-run:
        required: false
        default: false
        type: boolean
        description: No tagging in repo
      # A hack to tell if workflow is triggered by workflow_call or not
      # Calling workflows should not set this input
      # If workflow is triggered by workflow_dispatch, this should be set to the default boolean value: false
      # https://github.com/actions/runner/discussions/1884#discussioncomment-6377587
      is_workflow_call:
        type: boolean
        default: true
        required: false
    secrets:
      CLIENT_BOT_PAT:
        required: true
    outputs:
      bump_sha:
        value: ${{ jobs.update-version-in-repo.outputs.bump_sha }}

jobs:
  update-version-in-repo:
    name: Update version in repo
    runs-on: ubuntu-22.04
    outputs:
      bump_sha: ${{ steps.get-bump-commit-sha.outputs.bump_sha }}
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        token: ${{ secrets.CLIENT_BOT_PAT }}
        ref: ${{ inputs.ref }}

    # - name: Update version in repo
    #   uses: ./.github/actions/update-version
    #   with:
    #     new_version: ${{ inputs.new_version }}

    - name: Tag new version
      uses: step-security/git-auto-commit-action@905c3cd6e9ed2b67b4d46ff401fdb6d745d0ff9d # v7.1.0
      with:
        # commit_message: 'Auto-bump version to ${{ inputs.new_version }} [skip ci]'
        # commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
        tagging_message: ${{ inputs.dry-run == false && inputs.new_version || '' }}
        # branch: ${{ inputs.new_version }}

    # - name: Output bump commit hash for next jobs to use
    #   id: get-bump-commit-sha
    #   run: echo "bump_sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
