name: Upload to JFrog

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: false
      jfrog-repo-name:
        type: string
        required: false
        default: ${{ vars.JFROG_REPO_NAME }}
    secrets:
      JFROG_PLATFORM_URL:
        required: true
      JFROG_ACCESS_TOKEN:
        required: true

jobs:
  upload-to-jfrog:
    env:
      ARTIFACT_FOLDER_PATH: artifacts
    name: Upload artifacts to JFrog
    runs-on: ubuntu-22.04
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit

    - name: Download artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        pattern: '*.build'
        merge-multiple: true
        path: ${{ env.ARTIFACT_FOLDER_PATH }}

    - name: Set up JFrog credentials
      uses: step-security/setup-jfrog-cli@a6b41f8338bea0983ddff6bd4ede7d2dcd81e1fa # v4.8.1
      env:
        JF_URL: ${{ secrets.JFROG_PLATFORM_URL }}
        JF_ACCESS_TOKEN: ${{ secrets.JFROG_ACCESS_TOKEN }}

    - name: 'JFrog PyPI upload: link JFrog build with these artifacts'
      if: ${{ inputs.jfrog-repo-name == vars.JFROG_REPO_NAME }}
      run: echo JFROG_BUILD_OPTS="--build-name python-client --build-number ${{ inputs.version }}" >> $GITHUB_ENV

    - name: Choose folder to upload artifacts to
      run: echo REPO_FOLDER_PATH="${{ inputs.jfrog-repo-name == vars.JFROG_REPO_NAME && format('aerospike/{0}/{1}', inputs.version, env.ARTIFACT_FOLDER_PATH) || github.ref_name }}/" >> $GITHUB_ENV

    - name: Upload artifacts to JFrog
      # Source path must be in quotes if it contains an asterisk
      # https://github.com/jfrog/jfrog-cli/issues/1775#issuecomment-1348986551
      run: jf rt upload ${{ env.JFROG_BUILD_OPTS }} "*" ${{ inputs.jfrog-repo-name }}/${{ env.REPO_FOLDER_PATH }}
      working-directory: ${{ env.ARTIFACT_FOLDER_PATH }}

    - name: Publish build info
      if: ${{ env.JFROG_BUILD_OPTS != '' }}
      run: jf rt build-publish python-client ${{ inputs.version }}
