name: Publish JFrog build to PyPI
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Build version
        required: true
      use-test-pypi:
        type: boolean
        description: 'DEBUG: upload to test.pypi.org?'
        required: true
        default: false

jobs:
  publish-jfrog-build-to-pypi:
    runs-on: ubuntu-22.04
    steps:
    - uses: ./.github/actions/download-jf-builds
      with:
        build-version: ${{ inputs.version }}
        jfrog-platform-url: ${{ secrets.JFROG_PLATFORM_URL }}
        jfrog-access-token: ${{ secrets.JFROG_ACCESS_TOKEN }}
        jfrog-repo-name: ${{ vars.JFROG_REPO_NAME }}

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        # This is the directory jf downloads the artifacts to
        packages-dir: aerospike/${{ inputs.version }}/artifacts
        repository-url: ${{ inputs.use-test-pypi && 'https://test.pypi.org/legacy/' || 'https://pypi.org/legacy/' }}
        password: ${{ inputs.use-test-pypi && secrets.TEST_PYPI_API_TOKEN || secrets.PYPI_API_TOKEN }}
