name: Upload to JFrog

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: false
      jfrog-repo-name:
        type: string
        required: false
        default: ${{ vars.JFROG_REPO_NAME }}
    secrets:
      JFROG_PLATFORM_URL:
        required: true
      JFROG_ACCESS_TOKEN:
        required: true

jobs:
  upload-to-jfrog:
    name: Upload artifacts to JFrog
    runs-on: ubuntu-22.04
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
      with:
        egress-policy: audit

    - name: Download artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        pattern: '*.build'
        merge-multiple: true
        path: artifacts

    - name: Set up JFrog credentials
      uses: step-security/setup-jfrog-cli@893a92f96c7727242adf0e603c77b1f2a22390e1 # v4.9.1
      env:
        JF_URL: ${{ secrets.JFROG_PLATFORM_URL }}
        JF_ACCESS_TOKEN: ${{ secrets.JFROG_ACCESS_TOKEN }}

    - name: Upload manylinux builds from arbitrary branches to JFrog generic repo
      if: ${{ inputs.jfrog-repo-name == vars.JFROG_GENERIC_REPO_NAME }}
      run: jf rt upload "*manylinux*" ${{ vars.JFROG_GENERIC_REPO_NAME }}/${{ github.ref_name }}/
      working-directory: artifacts

    - name: Upload passing builds to JFrog PyPI repo
      if: ${{ inputs.jfrog-repo-name == vars.JFROG_REPO_NAME }}
    # Source path must be in quotes if it contains an asterisk
      # https://github.com/jfrog/jfrog-cli/issues/1775#issuecomment-1348986551
      run: jf rt upload --build-name python-client --build-number $NEW_VERSION "artifacts/*" ${{ vars.JFROG_REPO_NAME }}/aerospike/$NEW_VERSION/
      env:
        NEW_VERSION: ${{ inputs.version }}

    - name: Publish build info
      if: ${{ inputs.jfrog-repo-name == vars.JFROG_REPO_NAME }}
      run: jf rt build-publish python-client ${{ inputs.version }}
