name: Upload to JFrog

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: false
      jfrog-repo-name:
        type: string
        required: false
        default: ${{ vars.JFROG_REPO_NAME }}
    secrets:
      JFROG_PLATFORM_URL:
        required: true
      JFROG_ACCESS_TOKEN:
        required: true

jobs:
  upload-to-jfrog:
    permissions:
        id-token: write

    name: Upload artifacts to JFrog
    runs-on: ubuntu-22.04
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        pattern: '*.build'
        merge-multiple: true
        path: artifacts

    - name: Set up JFrog credentials
      uses: jfrog/setup-jfrog-cli@v4
      env:
        JF_URL: https://artifact.aerospike.io
      with:
        oidc-provider-name: gh-dev-test
        oidc-audience: aerospike/testing

    # - name: Upload manylinux builds from arbitrary branches to JFrog generic repo
    #   if: ${{ inputs.jfrog-repo-name == vars.JFROG_GENERIC_REPO_NAME }}
    #   run: jf rt upload "*manylinux*" ${{ vars.JFROG_GENERIC_REPO_NAME }}/${{ github.ref_name }}/
    #   working-directory: artifacts

    # - name: Upload passing builds to JFrog PyPI repo
    #   if: ${{ inputs.jfrog-repo-name == vars.JFROG_REPO_NAME }}
    # # Source path must be in quotes if it contains an asterisk
    #   # https://github.com/jfrog/jfrog-cli/issues/1775#issuecomment-1348986551
    #   run: jf rt upload --build-name python-client --build-number $NEW_VERSION "artifacts/*" ${{ vars.JFROG_REPO_NAME }}/aerospike/$NEW_VERSION/
    #   env:
    #     NEW_VERSION: ${{ inputs.version }}

    # - name: Publish build info
    #   if: ${{ inputs.jfrog-repo-name == vars.JFROG_REPO_NAME }}
    #   run: jf rt build-publish python-client ${{ inputs.version }}
