name: Publish JFrog build to PyPI
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Build version
        required: true
      use-test-pypi:
        type: boolean
        description: 'DEBUG: upload to test.pypi.org?'
        required: true
        default: false

jobs:
  publish-jfrog-build-to-pypi:
    runs-on: ubuntu-22.04
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit

    - uses: step-security/setup-jfrog-cli@893a92f96c7727242adf0e603c77b1f2a22390e1 # v4.9.1
      env:
        JF_URL: ${{ secrets.JFROG_PLATFORM_URL }}
        JF_ACCESS_TOKEN: ${{ secrets.JFROG_ACCESS_TOKEN }}

    - name: Download JFrog build
      run: jf rt dl --build python-client/${{ inputs.version }} ${{ vars.JFROG_REPO_NAME }}

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1
      with:
        # This is the directory jf downloads the artifacts to
        packages-dir: aerospike/${{ inputs.version }}/artifacts
        repository-url: ${{ inputs.use-test-pypi && 'https://test.pypi.org/legacy/' || 'https://upload.pypi.org/legacy/' }}
        password: ${{ inputs.use-test-pypi && secrets.TEST_PYPI_API_TOKEN || secrets.PYPI_API_TOKEN }}
